* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background: rgb(251, 245, 245);
    background-image: url(/images/header_bg.png), url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.text-primary {
    color: rgb(162, 29, 29);
}

.nav-title {
    font-weight: 800;
    font-size: 50px;
}

nav li {
    list-style-type: none;
    margin-left: 50px;
    margin-top: 5px;
}

NAV UL {
    display: flex;
    align-items: center;
}

.btn {
    color: whitesmoke;
    font-weight: 700;
    font-size: 20px;
    border: 0px;
    padding: 18px 35px;
    height: 70px;
    border-radius: 5px;
    background: yellowgreen;
}


/* banner styles */
.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner_sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-top: 20px;
}

.banner-description {
    color: #5a2424;
    font-size: 18px;
    margin-bottom: 30px;
}

/* main section*/
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles*/
.about {
    text-align: center;
    margin-top: 130px;
    background: whitesmoke;
    border-radius: 15px;
    padding: 130px 150px;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;

}

.section-description {
    color: #5a2424;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about .info-title {
    font-size: 20px;
    color: blue;
}

.info-description {
    font-size: 20px;
    font-weight: 700;
    color: palegreen;
}

/* what i do style */
.what-i-do {
    margin-top: 130px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    background: white;
    box-shadow: 0px 6px 50px navajowhite;
    border-radius: 10px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    color: black
}


/* Resume section */
.resume {
    margin-top: 130px;
}

.resume-content {
    display: flex;
    gap: 24px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume .title {
    color:#450d0d;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}

.resume .sub-title {
    color:#391616;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.resume .description {
    color: grey;

}
.resume-btn{
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}
/* CONTACT */
.contact{
    display: flex;
    gap: 100px;
    background: rgb(248, 234, 234);
    padding: 130px 200px;
}
.contact .section-title{
    text-align: left;
}

.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding-left: 18px 30px;
}
.contact a{
    text-decoration: none;
}